<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'
	rel='stylesheet'>

<title>Atiliê Isabela Carvalho</title>
</head>

<body>

	<section style="background-image: url('img/bg2.webp');">
		<header>
			<a href="#" class="logo"><img src="img/logo1.png" alt=""></a>
			<div class="toggleMenu" onclick="toggleMenu();"></div>
			<ul class="navbar">
				<li><a href="#">Home</a></li>
				<li><a th:href="@{/agendar}">Agendamentos</a></li>
				<li><a th:href="@{/listagendamentos}">Lista Agendamentos</a></li>
			</ul>
		</header>
		<div class="content">
			<div class="contentBx">
				<h2>
					Isabela <span class="color">Trancista</span>
				</h2>
				<br><br>
				<a class="btn" th:href="@{/agendar}">Agendar</a> <a class="btn2"
					href="#">Contato</a>
			</div>
		</div>
		<ul class="icons">
			<li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
			<li><a
				href="https://www.instagram.com/atelie_isabelacarvalho/?hl=pt-br"><i
					class='bx bxl-instagram-alt'></i></a></li>
			<li><a href="#"><i class='bx bxl-twitter'></i></a></li>
		</ul>
	</section>
</body>

<script src="assets/js/script.js"></script>
<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>

</html>